.cover {
  padding: 100px 0;
  border-bottom: $border-base;

  h1 {
    margin: 0 40px 40px 0;
    font-weight: 600;
    color: $text-color;
    font-size: 36px;
    line-height: 1.2;

    .sub {
      padding-top: 20px;
      font-size: 18px;
      font-weight: 400;
      color: $text-color-gray;
      line-height: 1.5;
    }
  }
}
