//
//
//  𝗚 𝗥 𝗜 𝗗
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━


@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}

//  Container
//  ───────────────────────────────────

.container {
  margin-left: auto;
  margin-right: auto;
  @include clearfix();

  padding-left:  $container-padding-base;
  padding-right: $container-padding-base;
  @media (max-width: 543px) {
    padding-left:  $container-padding-lg;
    padding-right: $container-padding-lg;
  }
  
  max-width: $container-max-width;
  @media (min-width: $container-max-width-lg) {
    max-width: $container-max-width-lg;
  }
}


//  Row
//  ───────────────────────────────────

@mixin make-row {
  margin-left:  ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);
  @include clearfix();
}

.row {
  @include make-row;
}

//  Columns
//  ───────────────────────────────────

@mixin make-col($size: 100%) {
  position: relative;
  min-height: 1px;
  padding-right: ($grid-gutter-width / 2);
  padding-left:  ($grid-gutter-width / 2);
  float: left;
  width: $size;
}