.col-half {
  @include make-col();
  
  @media (min-width: 768px) {
    @include make-col(50%);
  }
}

.blog-logo {
  @include make-col(25%);

  @media (min-width: 768px) {
    @include make-col(20%);
  }

  @media (min-width: 1600px) {
    @include make-col(10%);
  }
}

.cover {
  @include make-row;
}

.cover-content {
  @include make-col();

  @media (min-width: 544px) {
    @include make-col(75%);
  }
  @media (min-width: 768px) {
    @include make-col(80%);
  }
}

#carbonads {
  @include make-col();

  @media (min-width: 544px) {
    @include make-col(25%);
  }
  @media (min-width: 768px) {
    @include make-col(20%);
  }
}

.shortcut-wrap {
  .shortcut-menus {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    -moz-column-fill:   auto;
         column-fill:   auto;

    @media (min-width: 544px) {
      height: 150px;
      -webkit-column-count: 4;
         -moz-column-count: 4;
              column-count: 4;
    }

    @media (min-width: 768px) {
      height: 110px;
      -webkit-column-count: 5;
         -moz-column-count: 5;
              column-count: 5;
    }

    @media (min-width: 1600px) {
      height: 80px;
      -webkit-column-count: 10;
         -moz-column-count: 10;
              column-count: 10;
    }
  }
}

.color-chips {
  @extend .row;
}

.color-chip {
  @include make-col();

  @media (min-width: 544px) {
    @include make-col(25%);
  }

  @media (min-width: 768px) {
    @include make-col(20%);
  }

  @media (min-width: 1600px) {
    @include make-col(10%);
  }
}

.docs-section,
.introduction-section {
  @media (min-width: 544px) {
    @include make-col(75%);
  }

  @media (min-width: 768px) {
    @include make-col(80%);
  }
}
