.col-half {
  @include make-col();
  
  @media (min-width: 768px) {
    @include make-col(50%);
  }
}

.blog-logo {
  @include make-col(25%);

  @media (min-width: 768px) {
    @include make-col(20%);
  }

  @media (min-width: 880px) {
    @include make-col($left-gird-width);
  }
}

.shortcut-wrap {
  @include make-col(100%);

  @media (min-width: 880px) {
    @include make-col($left-gird-width);
  }

  .shortcut-menus {
    @include make-row;

    li {
      @include make-col(50%);

      @media (min-width: 375px) {
        @include make-col(calc(100%/3));
      }

      @media (min-width: 544px) {
        @include make-col(25%);
      }

      @media (min-width: 768px) {
        @include make-col(20%);
      }

      @media (min-width: 880px) {
        @include make-col(100%);
      }
    }
  }
}

.color-wrap,
.ingredient-wrap,
.instructions-wrap {
  @media (min-width: 880px) {
    @include make-col(calc(100% - #{$left-gird-width}));
  }
}

.color-chips {
  @extend .row;
}

.color-chip {
  @include make-col();

  @media (min-width: 544px) {
    @include make-col(25%);
  }

  @media (min-width: 768px) {
    @include make-col(20%);
  }

  @media (min-width: 1600px) {
    @include make-col(10%);
  }
}

.docs-wrap,
.instructions-wrap {
  @include make-row;

  @media (min-width: 544px) {
    margin-left: 25%;
  }

  @media (min-width: 768px) {
    margin-left: 20%;
  }

  @media (min-width: 880px) {
    margin-left: $left-gird-width;
  }
}

.docs-title,
.introduction-title {
  @include make-col();
  padding-left: 0;
  padding-right: 0;
}

.docs-content,
.introduction-content {
  @include make-col();
  padding-left: 0;
  padding-right: 0;
}

.docs-section,
.introduction-section {
  @media (min-width: 544px) {
    @include make-col(75%);
  }

  @media (min-width: 768px) {
    @include make-col(80%);
  }
}
