@media (max-width: 543px) {
  // cover
  // -------------------------

  .cover {
    padding: 20px 0;

    h1 {
      margin-bottom: 30px;
      font-size: 26px;

      .sub {
        padding-top: 10px;
        font-size: 15px;
      }
    }

    .version,
    .license {
      display: inline-block;
      float: left;
      margin-right: 20px;
    }
  }
  

  // shourtcut
  // -------------------------
  .shortcut-wrap {
    padding: 10px 0;
  }

  // swatichs
  // -------------------------

  $color-chip-height: 50px;

  .color-group,
  .color-tables {
    margin-top: 3vw;
    margin-bottom: 5vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
  }

  .color-title {
    margin-bottom: 5vw;
    padding: 2vw 0;
    font-size: 20px;
  }

  .color-chips {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    -moz-column-fill:   auto;
         column-fill:   auto;
  }

  .color-chip {
    margin-bottom: 4vw;
  }
  
  .color-chip-bg {
    width: $color-chip-height;
    height: $color-chip-height;
    float: left;
    border-radius: 6px;
  }

  .color-name,
  .color-hex {
    width: calc(100% - #{$color-chip-height});
    float: left;
  }

  .color-name {
    padding: 8px 0 0 12px;
  }

  .color-hex {
    padding: 2px 0 2px 12px;
  }

  // color tables
  .value-table {
    margin-left: -$container-padding-lg;
    margin-right: -$container-padding-lg;
    width: 100vw;

    thead > tr > th,
    tbody > tr > td {
      padding: 12px;
      font-size: 14px;

      &:first-child {
        padding-left: $container-padding-lg;
      }

      &:nth-child(5) {
        padding-right: $container-padding-lg;
      }

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
    }
  }
}
