
.color-wrapper {
  display: inline-block;
}

.color-group {
  padding-top: 40px;
}

.color-title {
  margin: 0 0 30px;
  font-size: 16px;
  letter-spacing: $letter-spacing-base;
  text-transform: uppercase;
  font-weight: $font-weight-m;
  line-height: 1.5;

  span {
    margin-right: 0.5em;
  }
}

.color-chips {
  text-align: center;
}

.color-chip {
  margin-bottom: 40px;
  line-height: 1.25;

  input[type="text"] {
    border: none;
    font-family: $font-family-mono;
    background-color: transparent;
  }
}

.color-name {
  padding: 14px 3px 6px;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  letter-spacing: $letter-spacing-sm;
}

.color-var,
.color-hex {
  padding: 2px 3px;
  width: 100%;
  font-size: 14px;
  color: $text-color-gray;
  line-height: 1.3;
}


// Style sample
$style-list: (
  "color":  color,
  "bg":     background-color,
  "border": border-color
);

.color-chip-bg {
  height: 80px;
  border-radius: $chip-border-radius;
  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

@each $color in map-keys($oc-color-list) {
  @for $number from 0 through $oc-color-spectrum {
    @each $color-value in map-get($color, #{$number}) {
      @each $color-name in map-get($oc-color-list, $color) {
        .bg-#{$color-name}-#{$number} {
          background-color: #{$color-value};
        }
      }
    }
  }
}

